:root{
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--very-dark-blue);
}

main{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7;
  justify-content: center;
}

.content-box{
  min-height: 15em;
  width: 20em;
  background-color: var(--dark-blue);
  margin: 2em;
}
.user{
  background-color: white;
  height: 300px;
  weight: 300px;
}

.icon-work{
  background-color: white;
  ;
}

.icon-play{
  background-color: hotpink;
}
.icon-study{
  background-color: hotpink;
}
.icon-exercise{
  background-color: hotpink;
}
.icon-social{
  background-color: hotpink;
}
.icon-selfcare{
  background-color: hotpink;
}
