@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
  --blue: hsl(246, 80%, 60%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

  --violet: hsl(264, 64%, 52%);

  --ff-rubik: 'Rubik', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--very-dark-blue);
}

main{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7;
  justify-content: center;
}

.user{
  position: relative;
  border-radius: 19px;
  background-color: var(--dark-blue);
  min-height: 12em;
  max-width: 20em;
  margin: 2em;
}

.user-card{
  border-radius: 20px;
  background-color: var(--blue);
}


.avatar-box{
  border-radius: 50%;
  display: flex;
}

.avatar{
  height: 4em;
  border: 3px solid white;
  border-radius: 50%;
  margin: 2em;
  margin-left: 1em;
}

.report-for{
  font-family: var(--ff-rubik);
  font-weight: 400;
  color: var(--pale-blue);
  position: absolute;
  left: 8em;
  top: 3.25em;
  font-size: small;
  max-height: 2em;
}

.user-name{
  font-family: var(--ff-rubik);
  font-weight: 300;
  color: white;
  position: absolute;
  left: 4.7em;
  top: 2.75em;
  font-size: 22px;
  max-height: 2em;
}

.timeframes{
  background-color: var(--dark-blue);
  position: absolute;
  border-radius: 20px;
  bottom: 0;
  width: 20em;
  height: 3.5em;
  text-align: center;
}

button{
  margin: 1em;
  margin-bottom: 1.5em;
  color: var(--desaturated-blue);
  font-size: 16px;
  font-family: var(--ff-rubik);
  background-color: var(--dark-blue);
  border: none;
}

button:hover{
  cursor: pointer;
  color: white;
}

.content-box{
  min-height: 15em;
  width: 20em;
  background-color: var(--dark-blue);
  margin: 2em;
}


.icon-work{
  background-color: white;
  ;
}

.icon-play{
  background-color: hotpink;
}
.icon-study{
  background-color: hotpink;
}
.icon-exercise{
  background-color: hotpink;
}
.icon-social{
  background-color: hotpink;
}
.icon-selfcare{
  background-color: hotpink;
}
