@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root{
  --blue: hsl(246, 80%, 60%);
  --very-dark-blue: hsl(226, 43%, 10%);
  --dark-blue: hsl(235, 46%, 20%);
  --desaturated-blue: hsl(235, 45%, 61%);
  --pale-blue: hsl(236, 100%, 87%);

--light-red-work: hsl(15, 100%, 70%);
--soft-blue-play: hsl(195, 74%, 62%);
--light-red-study: hsl(348, 100%, 68%);
--lime-green-exercise: hsl(145, 58%, 55%);
--violet-social: hsl(264, 64%, 52%);
--soft-orange-selfCare: hsl(43, 84%, 65%);

  --ff-rubik: 'Rubik', sans-serif;
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--very-dark-blue);
}

main{
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 7;
  justify-content: center;
}

.user{
  position: relative;
  border-radius: 19px;
  background-color: var(--dark-blue);
  min-height: 13em;
  width: 21em;
  margin: 2em;
}

.user-card{
  border-radius: 20px;
  background-color: var(--blue);
}


.avatar{
  height: 4em;
  border: 3px solid white;
  border-radius: 50%;
  margin: 2em;
  margin-left: 2em;
}

.report-for{
  font-family: var(--ff-rubik);
  font-weight: 400;
  color: var(--pale-blue);
  position: absolute;
  left: 9em;
  top: 3.25em;
  font-size: small;
  max-height: 2em;
}

.user-name{
  font-family: var(--ff-rubik);
  font-weight: 300;
  color: white;
  position: absolute;
  left: 4.85em;
  top: 2.75em;
  font-size: 24px;
  max-height: 2em;
}

.timeframes{
  background-color: var(--dark-blue);
  position: absolute;
  border-radius: 0px 0px 20px 20px;
  bottom: 0;
  width: 21em;
  max-height: 3.2em;
  padding-bottom: 1.3em;
  text-align: center;
}

button{
  margin: 1.5em;
  color: var(--desaturated-blue);
  font-size: 18px;
  font-family: var(--ff-rubik);
  background-color: var(--dark-blue);
  border: none;
}

button:hover{
  cursor: pointer;
  color: white;
}

.clicked{
  color: white;
}

.content-box{
  position: relative;
  min-height: 10em;
  width: 21em;
  background-color: var(--dark-blue);
  margin: 2em;
  font-family: var(--ff-rubik);
  border-radius: 20px;
}

.content-box:hover{
  cursor: pointer;
}

.icon{
  float: right;
  padding-right: 1em;
  border-radius: 20px 20px 0px 0px;
  height: 5em;
  width: 5em;
  padding-left: 15em;
}

.icon-work{
  background-color: var(--light-red-work);
}

.icon-play{
  background-color: var(--soft-blue-play);
}
.icon-study{
  background-color: var(--light-red-study);
}
.icon-exercise{
  background-color: var(--lime-green-exercise);
  height: 4em;
}
.icon-social{
  background-color: var(--violet-social);
}
.icon-selfcare{
  background-color: var(--soft-orange-selfCare);
  height: 4em;
}

.activity-data{
  position: absolute;
  border-radius: 20px ;
  min-height: 8em;
  margin-top: 2.5em;
  width: 21em;
  background-color: var(--dark-blue);
}

.activity-data:hover{
  cursor: pointer;
  filter: brightness(1.5);
}

.activity-title{
  font-size: 18px;
  font-weight: 400;
  color: white;
  margin: 1em;
  margin-bottom: 0em;
}

.title-dots{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 1em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0.5em;
}

.dot{
  color: var(--pale-blue);
  font-size: 30px;
  font-weight: 400;
}

.activity-times{
  display: flex;
  margin: 1.5em;
  margin-top: 0.5em;
  justify-content: space-between;
  align-items: center;
}
.hours{
  color: white;
  font-weight: 300;
}

.previous{
  font-size: 16px;
  color: var(--pale-blue);
  font-weight: 400;
}

@media (max-width: 500px) and (max-width: 700px) {
main{
  grid-template-columns: repeat(2, 1fr);
}
}

@media (min-width: 700px) {
  body{
    position: relative;
  }
  
  main{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 25%);


  display: grid;
  
  gap: 1em;
  grid-template-columns: repeat(4, 1fr);
}

  .user{
    grid-row-start: 1;
    grid-row-end: 3;

    width: 16em;
    min-height: 33em;
  }

  .user-card{
    height: 23em;
  }

  .content-box{
    width: 16em;
  }

  .icon{
    width: 4em;
    padding-left: 11em;
  }
  .activity-data{
    width: 16em;
  }
  .timeframes{
    text-align: left;
    width: 6em;
    bottom: 5em;
  }
  button{
    margin: 0.5em;
    margin-left: 1em;
  }

  .avatar{
    height: 6em;
  }
  
  .report-for{
    left: 2.5em;
    top: 13em;
  }

  .user-name{
    font-size: 32px;
    text-align: left;
    max-height: 12em;
    max-width: 6em;
    left: 1em;
    top: 6em;
  }

  .activity-data{
    min-height: 10em;
  }

.activity-times{
  display: inline;
}
.hours{
  font-size: 40px;
  padding-left: .5em;
}

.previous{
  margin: 1em;
  padding-left: 0.5em;
}
}



